main{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------Marketing-------------------------------------------------- */

.marketing{
    text-align: center;
    background-color: #0001;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.info_picture{
    width: 100%;
}

/* --------------------------------------------------Showcase-------------------------------------------------- */

.showcase{
    text-align: center;
}

.showcase_image{
    width: 100%;
}

/* --------------------------------------------------Ratings-------------------------------------------------- */

.ratings{
    text-align: center;
}

.stars_image{
    width: 100%;
}
